{% extends 'interface/header/header.html' %}
{% block main_content %}


    <div class="container">
        <div class="row">
                    <div class="col text-center">
                            <p style="text-align: center"><select style='width: 750px; margin: auto' class='form-select' id='selector_user' onchange='document.location=this.options[this.selectedIndex].value'>
                                <option>{{ access_list_username}}</option>
                                {% for key, value in user_datas.items %}
                                        <option value="/access?user_id={{ value }}">{{ key }}</option>
                                {% endfor %}
                            </select></p>
                    </div>
                </div>
    <br>
    <br>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-striped table-light text-center shadow-lg p-3 mb-5 bg-body rounded">
                    {% for key, value in access_list.items %}
                        <h4 style="text-align: center">Список прав доступа для: <b>{{ key }}</b></h4>
                        <br>
                        <h5 style="text-align: center"><a href="/sync">Синхронизация прав доступа</a></h5>
                        <br>
                        <tr>
                        <td><b>Наименование раздела</b></td>
                        <td><b>Статус раздела</b></td>
                    </tr>
                    {% for k, v in value.items %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>
{#                            #}
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        {% if v == 'Недоступно' %}
                                            <div class="col" style="margin-top: 5px; color: red"><b>{{ v }}</b></div>
                                        {% else %}
                                            <div class="col" style="margin-top: 5px; color: green"><b>{{ v }}</b></div>
                                        {% endif %}</div>
                                    <div class="col">
                                        <form method="get">
                                            {% csrf_token %}
                                            <input type="hidden" name="user_id" value="{{ user_id }}">
                                            <input type="hidden" name="block_name_for_close_open" value="{{ k }}">
                                            <input type="hidden" name="access_status" value="{{ v }}">
                                            {% if v == 'Недоступно' %}
                                                <div class="col"><button type="submit" class="btn btn-danger">Открыть доступ</button></div>
                                            {% else %}
                                                <div class="col"><button type="submit" class="btn btn-success">Закрыть доступ</button></div>
                                            {% endif %}
                                        </form>
                                    </div>



                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}

{% endblock %}

