{% extends 'interface/header/header.html' %}

{% block tittle %}
    Блоки
{% endblock %}

{% block main_content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4 style="color: red">Раздел "Статистика" находится в разработке</h4>
            </div>
        </div>
        <div  class="row">
            <div class="col">
                <img src="interface/matplotlib/saved.png" alt="тут должен быть график">
            </div>
        </div>
    </div>
{% endblock %}

