{% extends 'interface/header/header.html' %}

{% block tittle %}
    Блоки
{% endblock %}

{% block crumbs %}

{% endblock %}

{% block main_content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <ul class="list-group">
                    {% for el in sections %}
                        {% if el.include == 1 %}
                            <li class="list-group-item list-group-item-primary"
                                style="width: 600px;"><a href="/table?block={{ el.id }}" style="text-decoration: none; color: black">{{ el.interface_name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}