{% extends 'interface/header/header.html' %}

{% block tittle %}
    Блоки
{% endblock %}

{% block main_content %}
    {{ filters }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Журнал событий системы</h4>
            </div>
        </div>
        <br>

        <div class="row">
            <table class="table table-bordered text-center table-success table-striped table-hover">
                <tr>
                {% for foo in  headers %}
                    <td>
                        {{ foo }}
                    </td>
                {% endfor %}
                </tr>
                {% for data1 in data  %}
                    <tr>
                    {% for data2 in data1  %}
                        <td>{{ data2 }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>


        </div>

    </div>
{% endblock %}

