{% extends 'interface/header/header.html' %}

{% block tittle %}
    Главный интерфейс
{% endblock %}

{% block crumbs %}
    <br>
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb"><li class="breadcrumb-item"><a href="#">Главная</a>
                {% comment %}<li class="breadcrumb-item active" aria-current="page">{% endcomment %}<a href="/table?block={{ r.id }}">{{ r.interface_name }}</a></li>
                {% for s in section %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="/table?block={{ r.id }}">{{ s.interface_name }}</a></li>
                {% endfor %}
                {% for ss in sub_section %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="/table?block={{ r.id }}">{{ ss.interface_name }}</a></li>
                {% endfor %}
            </ol>
    </nav>
{% endblock %}

{% block main_content %}
    {{ data }}
    {% comment %}<br>
    <br>
    <table class="table table-bordered table-dark text-center">
    <tr>
    {% for structure in table_structure %}
        <td>{{ structure.html_descriptor }}</td>
    {% endfor %}
    </tr>
    {% for t in table_data %}
        <tr>
        {% for r in struct %}
            <td>{{ t.r }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>{% endcomment %}
{% endblock %}
