
{% extends 'interface/header/header.html' %}
{% block tittle %}
    Главный интерфейс
{% endblock %}

{% block crumbs %}
    <br>
    <div class="container">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb"><li class="breadcrumb-item"><a href="#">Главная</a>
                    {% comment %}<li class="breadcrumb-item active" aria-current="page">{% endcomment %}<a href="/table?block={{ r.id }}">{{ r.interface_name }}</a></li>
                    {% for s in section %}
                        <li class="breadcrumb-item active" aria-current="page"><a href="/table?block={{ r.id }}">{{ s.interface_name }}</a></li>
                    {% endfor %}
                    {% for ss in sub_section %}
                        <li class="breadcrumb-item active" aria-current="page"><a href="/table?block={{ r.id }}">{{ ss.interface_name }}</a></li>
                    {% endfor %}
                </ol>
        </nav>
    </div>
{% endblock %}

{% block main_content %}

    {% comment %} Первый массив - метки, второй - данные фильтров {% endcomment %}
    <pre>{{ filter_fields_labels }}</pre>
{#    <pre>{{ filter_fields_datas }}</pre>#}


    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3" style="display: flex">
                <div class="bg-light" style="border-radius: 10px;">
                    <div style="margin: 10px 10px 10px 10px;">
                    <h5>Импорт записей в таблицу:</h5>
                        <form enctype="multipart/form-data" action="/table_view?section={{ section_id }}&sub_section={{ sub_section_id }}" method="POST" class="form-row" style="width: 120px;">
                            {#        Токен для проверки формы - требования джанго        #}
                            {% csrf_token %}
                            <input style="float: left" name="excel" class="form-control" type="file" required>
                            <button type="submit" class="btn btn-outline-warning" style="margin-top: 6px;"><span style="color: black">Импортировать</span></button>
                            <a></a>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-9">
                {% block modal %}
            <!-- Кнопка модального окна -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span style="color: black;">Добавить запись</span>
            </button>
                    <br>
                    <br>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span style="color: black;">Показать всю таблицу</span>
            </button>
                    <br><p style="margin-top: 5px; color: red">(Не рекомендуется!)</p>
            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Форма добавления записи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                  </div>
                  <div class="modal-body">
                      {{ form }}
                      <form method="POST" action="/add?section={{ section_id }}&sub_section={{ sub_section_id }}">
                          {% csrf_token %}
                          {% for i in table_structure %}
                              {% comment %} Отбрасываем вывод полей года и автора {% endcomment %}
                              {% if i.html_descriptor != "Год" and i.html_descriptor != "Автор" %}
                                  {% comment %} Метка {% endcomment %}
                                <label for="{{ i.sql_field_name }}">{{ i.html_descriptor }}</label>
                                <input type="{{ i.html_form_data_type }}" class="form-control" name="{{ i.sql_field_name }}" id="{{ i.sql_field_name }}" style="margin-top: 7px;">
                                <br>
                              {% endif %}
                          {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-outline-warning">Сохранить изменения</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
            {% endblock %}

        </div>
    </div>
    <br>
    <br>

    <div class="container">
    <table class="table table-bordered table-dark text-center">
    <form method="POST">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-warning text-center"><span style="color: black">Сохранить в Excel</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Уберите отдельные поля в заголовке таблицы, если их не нужно включать в отчёт. Система сформирует отчёт, включив те записи, которые есть в этой таблице</p>
        </div>
    </div>

    <br>



    {% for i in filter_fields_labels %}
            <div class="row">
                <div class="col text-center">
                    <label class="form-label" for="selector">{{ i.0 }}</label>
                    <select style='width: 600px; margin: auto' class='form-select' id='selector' onchange='document.location=this.options[this.selectedIndex].value'>
                        <option>{{ i.2 }}</option>
                        {% for g in i %}
                            {% if g not in off_words %}
                            <option value="{{ url }}&{{ i.1 }}={{ g }}">{{ g }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
    {% endfor %}

    <br>
    <br>
    {% for structure in table_structure %}
        <td>
        <label class="form-label" for="{{ structure.sql_field_name }}">{{ structure.html_descriptor }}</label>
        <input id="{{ structure.sql_field_name }}" type="checkbox" name="{{ structure.sql_field_name }}_check_for_excel" class="checkbox-inline" value="{{ structure.html_descriptor }}" checked>
        </td>
    {% endfor %}
    </form>
    </tr>
    {% for data1 in data %}
        <tr>
        {% for data2 in data1 %}
            <td>{{ data2 }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>

{% endblock %}