{% extends 'interface/header/header.html' %}

{% block tittle %}
    Таблицы
{% endblock %}

{% block crumbs %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h5><a href="/blocks" style="font-size: 16pt;">Разделы</a>
                <span style="font-size: 20pt;">→</span>
                {% for r in seс %}
                    {% if r.id == url %}
                                <a href="/table?block={{ r.id }}">{{ r.interface_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <br>
{% endblock %}


{% block main_content %}


    <ul class="list-group">
        {% for s in sub %}
            {% if s.section_id == url1 %}
                <li class="list-group-item list-group-item-primary" style="width: 600px;"><a href="/table_view?section={{ url }}&sub_section={{ s.id }}" style="text-decoration: none; color: black">{{ s.interface_name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}



