{% extends 'interface/header/header.html' %}

{% block tittle %}
    Главный интерфейс
{% endblock %}

{% block crumbs %}
    <br>
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb"><li class="breadcrumb-item"><a href="#">Главная</a>
                {% comment %}<li class="breadcrumb-item active" aria-current="page">{% endcomment %}<a href="/table?block={{ r.id }}">{{ r.interface_name }}</a></li>
                {% for s in section %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="/table?block={{ r.id }}">{{ s.interface_name }}</a></li>
                {% endfor %}
                {% for ss in sub_section %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="/table?block={{ r.id }}">{{ ss.interface_name }}</a></li>
                {% endfor %}
            </ol>
    </nav>
{% endblock %}

{% block main_content %}
    {{ file_info }}
    <div class="container">
        <div class="col-12" style="display: flex">
            <div class="bg-info" style="border-radius: 10px;">
                <div style="margin: 10px 10px 10px 10px;">
                <h5>При помощи этой формы можно сделать массовый импорт записей в таблицу</h5>
                    <form enctype="multipart/form-data" action="/table_view?section={{ section_id }}&sub_section={{ sub_section_id }}" method="POST" class="form-row" style="width: 120px;">
                        {#        Токен для проверки формы - требования джанго        #}
                        {% csrf_token %}
                        <input style="float: left" name="excel" class="form-control" type="file">
                        <button type="submit" class="btn btn-warning" style="margin-top: 6px;">Импортировать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
    <table class="table table-bordered table-dark text-center">
    <tr>
    {% for structure in table_structure %}
        <td>{{ structure.html_descriptor }}</td>
    {% endfor %}
    </tr>
    {% for data1 in data %}
        <tr>
        {% for data2 in data1 %}
            <td>{{ data2 }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>
    <h1>{{ ms }}</h1>
{% endblock %}
